PORT=3001
SUPABASE_URL=https://tu-proyecto.supabase.co
SUPABASE_ANON_KEY=tu_anon_key_aqui
SUPABASE_SERVICE_ROLE_KEY=tu_service_role_key_aqui
SUPABASE_JWT_SECRET=tu_jwt_secret_aqui
NODE_ENV=development
ALLOWED_DOMAIN=ucaldas.edu.co

EXPO_PUBLIC_API_TOKEN=tu_token_jwt_de_prueba_aqui
EXPO_PUBLIC_TEST_USER_ID=tu_id_de_usuario_de_prueba_aqui

BACKEND_PUBLIC_URL=https://tu-url-ngrok.ngrok-free.dev
CORS_ALLOWED_ORIGINS=http://localhost:8081,http://localhost:19006,https://auth.expo.io
AUTH0_ALLOWED_REDIRECT_URIS=https://auth.expo.io/@usuario/uniconnect_2,uniconnect2://auth/callback
AUTH0_DOMAIN=tu-dominio.us.auth0.com
AUTH0_ISSUER=https://tu-dominio.us.auth0.com/

AUTH0_AUDIENCE=https://tu-dominio.us.auth0.com/api/v2/
REQUIRE_AUTH_SYNC_TOKEN=false